 *{
            padding: 0;
            margin: 0;
        }
        .holder{
            display: flex;
            justify-content:space-evenly;
            flex-wrap: wrap;
            font-size: 30px;
        }
        .item1,.item2,.item3{
            height: 100px;
            width: 100px;
        }
        .item1{
            background-color: red;
            order: 2;
        }
        .item2{
            background-color: blue;
            order: 3;
        }
        .item3{
            background-color: green;
            order: 1;
        }
/* Your CSS Code here. */